body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    margin: 20px;
}
.card{
    width: 125px;
    height: 150px;
    display: inline-block;
    cursor: pointer;
}
#igra{
    width: 650px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    align-items: center;
    
}
.card-front {
    width: 100px;
    height: 150px;
    transform: rotateY(180deg);
    
}
.card-back{
    width: 100px;
    height: 150px;
}
.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
img {
    width: 100px;
    height: 150px;
}
.card-front, .card-back{
   width: 100%;
   height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.card.prevrtena .card-inner {
    transform: rotateY(180deg);
}